#booking {
    display: block;
    margin: 0 auto;
    width: 346px;
    height: 625px;
    background: #ffffff;
    border-radius: 4px;
}

#booking .place {
    position: relative;
    height: 185px;
    color: #ffffff;
    -webkit-box-shadow: inset 0px -68px 20px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0px -68px 20px 0px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0px -68px 20px 0px rgba(0, 0, 0, 0.12);
}

#booking .place .name {
    position: absolute;
    top: 92px;
    left: 23px;
    font-size: 19pt;
    font-weight: 700;
}

#booking .place .where {
    position: absolute;
    top: 132px;
    left: 28px;
    font-size: 11pt;
}

#booking .place .where i {
    font-size: 15pt;
}

#booking form {
    width: 296px;
    margin: 0 auto;
    color: #666666;
}

#booking form fieldset {
    margin: 0;
    padding: 0;
    margin-top: 22px;
    border: 0;
}

#booking form label {
    font-size: 11pt;
    font-weight: 700;
}

#booking .custom-input {
    margin-top: 8px;    
}

#booking .custom-input input {
    width: 282px;
    padding-left: 12px;
}

#booking .custom-input .btn-in-input {
    display: block;
    background: #414b59;
    border-radius: 2px;
}

#booking .custom-input .btn-in-input:hover {
    cursor: pointer;
}

#booking .checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}

#booking .checkbox+label {
    cursor: pointer;
    font-size: 11pt;
}

#booking .checkbox:not(checked)+label {
    position: relative;
    top: -5px;
    padding: 0 0 0 36px;
}

#booking .checkbox:not(checked)+label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 1px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    background: #f4f4f4;
}

#booking .checkbox:checked+label:after {
    content: url('../img/checked.png');
    position: absolute;
    top: 2px;
    left: 4px;
}

#booking .select-wrapper {
    display: inline-block;
    width: 138px;
}

#booking .select-wrapper select {
    width: 100%;
    height: 44px;
    margin-top: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 5px 35px 5px 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/select_icon.png) 98% / 28% no-repeat #f4f4f4;
    font-size: 14pt;
    font-family: 'Gotham';
    font-weight: 500;
}

#booking .select-wrapper select::-ms-expand {
    display: none;
}

#booking .btn-action {
    margin-top: 40px;
    padding: 0;
    width: 296px;
    font-family: 'Gotham';
    font-weight: 500;
}
