 #calendar {
     display: block;
     margin: 0 auto;
     height: 425px;
     width: 345px;
     background: #ffffff;
     border-radius: 4px;
 }

 #calendar .top-panel {
     display: block;
     position: relative;
     height: 62px;
     background: #404a58;
     color: #ffffff;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
 }

 #calendar .top-panel .left-arrow {
     color: inherit;
     left: 36px;
     font-size: 10pt;
 }

 #calendar .top-panel .right-arrow {
     color: inherit;
     right: 36px;
     font-size: 10pt;
 }

 #calendar .top-panel .left-arrow:hover,
 #calendar .top-panel .right-arrow:hover {
     color: #f25b1c;
 }

 #calendar .top-panel .month {
     font-size: 14pt;
 }

 #calendar .table {
     display: table;
     width: 287px;
     margin: 0 auto;
     margin-top: 14px;
     font-size: 11pt;
     font-weight: 600;
     text-align: center;
     color: #666666;
 }

 #calendar .days,
 #calendar .numbers {
     display: table-row;
 }

 #calendar .day,
 #calendar .number {
     display: table-cell;
     width: 41px;
     height: 41px;
     vertical-align: middle;
     color: #666666;
     text-decoration: none;
 }

 #calendar .important-day {
     color: #fb6362;
 }

 #calendar .another-month-day {
     color: #c5c5c5;
 }

 #calendar .current-day {
     background: #fb6362;
     color: #ffffff;
     border-radius: 20px;
 }

 #calendar .btn-action {
     font-family: 'Gotham';
     font-weight: 500;
 }
