#email {
    display: block;
    width: 380px;
    background: #ffffff;
    margin: 0 auto;
    border-radius: 4px;
    overflow: auto;
}

#email .address-area {
    position: relative;
    margin: 25px 0 0 25px;
    background: #f4f4f4;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    width: 328px;
}

#email .addresses {
    width: 290px;
}

#email .address-area .add {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 3px;
    top: 5px;
}

#email .address-area .add a {
    color: #999999;
    text-decoration: none;
}

#email .address {
    display: inline-block;
    height: 37px;
    max-width: 285px;
    line-height: 37px;
    margin: 3px 0 2px 3px;
    font-size: 12pt;
    background: #404a58;
}

#email .address .email-address {
    float: left;
    padding-left: 12px;
    max-width: 248px;
    color: #ffffff;
    font-size: 11pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

#email .address .remove {
    float: left;
    width: 25px;
    text-align: center;
    height: inherit;
    line-height: inherit;
    color: #ffffff;
    overflow: hidden;
}

#email .address .remove i {
    line-height: inherit;
}

#email .subject {
    width: 330px;
    margin: 22px 25px 0 25px;
    border: 0;
}

.custom-input input {
    width: 318px;
}

#email .message {
    margin: 26px 0 0 25px;
}

#email .message textarea {
    width: 318px;
    min-height: 209px;
    resize: vertical; 
    padding: 14px 0 0 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #f4f4f4;
    color: #999898;
    font-family: 'Gotham';
    font-size: 11pt;
    font-weight: 500;
}

#email button {
    float: right;
    width: 128px;
    height: 48px;
    color: #ffffff;
    margin: 21px 24px 26px 21px;
}
